{% extends 'Views/estadisticas.html' %}
{% load static %}

{% block title %}	Estilo Tactico	{% endblock %}

{% block tactico %}
<div class="c15 doc-content">
    <p class="c5 c10"><span class="c0">&ldquo;&#x1f44f; &lt;usuario&gt;&rdquo; Tu estilo es &lt;estilo&gt;, tienes
            muchos elementos para este estilo de juego, &iquest;te gustan las l&iacute;neas agudas y los ataques al rey
            en el medio juego? &#x1f914; Veo en tus partidas que reaccionas de forma inmediata ante cualquier
            combinaci&oacute;n y no te gusta cambiar muchas piezas en las partidas; recuerda que las necesitas para el
            ataque, muy bien por eso&#x1f44d;</span></p>
    <p class="c5 c9"><span class="c0">Tus mejores aperturas son:</span></p>
    <p class="c5 c9"><span class="c0">Victorias Blancas y Victorias Negras:</span></p>
    <p class="c5"><span class="c13">Observo</span><span class="c0">&nbsp;&#x1f440; que conoces mucho la apertura
            &lt;ECO&gt; que lleva el nombre de &lt;opening&gt; con las piezas blancas, ademas tambien conoces mucho la
            apertura &lt;ECO&gt; que lleva el nombre de &lt;opening&gt; con las piezas Negras, &nbsp;esas son tus
            grandes virtudes&#x1f44d;</span></p>
    <p class="c5 c9"><span class="c0">Derrotas Blancas y Negras:</span></p>
    <p class="c5 c10"><span class="c0">Me he dado cuenta que has perdido mucho con jugadores de bajo y alto nivel con la
            apertura &lt;ECO&gt; con nombre &lt;opening&gt; llevando las piezas Blancas y pierdes tambi&eacute;n la
            apertura &lt;ECO&gt; con nombre &lt;opening&gt; llevando las piezas Negras, esas son tus grandes
            desventajas&#x1f614;, deber&iacute;as revisarlas, reforzarlas y aprender de tus errores. A
            continuaci&oacute;n te dejo las aperturas con la que m&aacute;s frecuencias pierdes.</span></p>
    <p class="c5 c10"><span class="c0">Piezas Blancas</span></p><a
        id="t.dc650fdb96fbfe7880ad23573c1d16c5f88ffb0f"></a><a id="t.0"></a>
    <table class="c12">
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">ECO</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">OPENING</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">Numero de Partidas</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">1</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">2</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">3</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">4</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">5</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">6</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">7</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">8</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">9</span></p>
            </td>
        </tr>
    </table>
    <p class="c5 c11"><span class="c0"></span></p>
    <p class="c5 c10"><span class="c0">Piezas Negras</span></p><a id="t.dc650fdb96fbfe7880ad23573c1d16c5f88ffb0f"></a><a
        id="t.1"></a>
    <table class="c12">
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">ECO</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">OPENING</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">Numero de Partidas</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">1</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">2</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">3</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">4</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">5</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">6</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">7</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">8</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c2"><span class="c0">9</span></p>
            </td>
        </tr>
    </table>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c5 c9"><span class="c0">Consejos:</span></p>
    <p class="c5 c9"><span class="c0">Sabiendo que tu estilo es &lt;cluster&gt;, mi consejo para mejorar es:</span></p>
    <ol class="c8 lst-kix_yz285529ld95-0 start" start="1">
        <li class="c5 c7 li-bullet-0"><span class="c0">Revisa con detalle las aperturas de tus partidas perdidas.</span>
        </li>
        <li class="c5 c7 li-bullet-0"><span class="c0">Revisa si est&aacute;s cometiendo errores en el desarrollo de las
                piezas o en el medio juego de las partidas.</span></li>
        <li class="c5 c7 li-bullet-0"><span class="c13">Tal vez la apertura no beneficia tu estilo de juego, prueba con
                otra apertura. El siguiente link te podria ayudar a encontrar una apertura con tu estilo </span><span
                class="c13 c14"><a class="c4"
                    href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Enciclopedia_de_aperturas_de_ajedrez&amp;sa=D&amp;source=editors&amp;ust=1663825930425707&amp;usg=AOvVaw2fVgQ1NuUWBAK23Cc2wbt4">https://es.wikipedia.org/wiki/Enciclopedia_de_aperturas_de_ajedrez</a></span>
        </li>
    </ol>
    <p class="c5 c11"><span class="c0"></span></p>
</div>

{% endblock %}
