{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{% block title %}	Home	{% endblock %}</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="{% static 'css/variables.sass' %}">
</head>
<body>
  <section class="hero is-dark is-large">
    <div id="app">
      <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
            <a class="nav-item">
                Website
            </a>
            </div>
            <label for="menu-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
            </label>
            <input type="checkbox" id="menu-toggle" class="is-hidden"/>
            <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet">
                <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
            <a class="nav-item is-tab is-hidden-tablet">
                <span class="icon"><i class="fa fa-table"></i></span> Links
            </a>
            <a class="nav-item is-tab is-hidden-tablet">
                <span class="icon"><i class="fa fa-info"></i></span> About
            </a>
            
            <a class="nav-item is-tab is-active">
                <span class="icon"><i class="fa fa-user"></i></span>
            </a>
            <a class="nav-item is-tab"  href="{% url 'logout' %}">
                <span class="icon"><i class="fa fa-sign-out"></i></span>
            </a>
            </div>
        </div>
        </nav>
        <section class="main-content columns is-fullheight">
            <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile" id="aside">
              <div id="profile">
                <figure class="image is-128x128" id="logo">
                    <img class="is-rounded" src="{% static 'img/user.jpg' %}">
                </figure>
                {% if user.is_authenticated %}
                <div style="text-align: center;" id="div">
                    <span >{{ user.username }}</span>
                </div>
                    <br>
                    <span >Nº de Partidas: {{ user.nick.rated }} </span>
                    <br>
                    <span >Nº de Ganadas: {{ user.nick.n_win }}</span>
                    <br>
                    <span >Nº de Tablas: {{ user.nick.n_draw }}</span>
                    <br>
                    <span >Nº de Perdidas: {{ user.nick.n_loss }}</span>
                    <br>
              </div>  
              {% else %}
              <p>You name not exits</p>

              {% endif %}
                <p class="menu-label is-hidden-touch">Navigation</p>
                <ul class="menu-list">
                <li>
                    <a href="#" class="is-active">
                    <span class="icon"><i class="fa fa-home"></i></span> Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_games' username=user.username %}" class="">
                    <span class="icon"><i class="fa fa-table"></i></span> Partidas
                    </a>
        
                    <ul>
                    <li>
                        <a href="{% url 'estadisticas' username=user.username %}">
                        <span class="icon is-small"><i class="fa fa-link"></i></span> Estadisticas
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'insight' username=user.username %}">
                        <span class="icon is-small"><i class="fa fa-link"></i></span> Estilo de Juego
                        </a>
                    </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="">
                    <span class="icon"><i class="fa fa-info"></i></span> Cerrar Sesion
                    </a>
                </li>
                </ul>
            </aside>
            <div class="container column is-10" id="main">
                <div class="section" id="main">
        
                <div class="card">
                    <div class="card-header"><p class="card-header-title">Tu Elo en diferentes tiempos de juego</p></div>
                    <div class="card-content"><div class="content">
                      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                          <tr>
                            <th><abbr title="">Modalidad</abbr></th>
                            <th><abbr title="">Nombre</abbr></th>
                            <th><abbr title="">Ranking</abbr></th>
                            <th><abbr title="">Desviacion</abbr></th>
                            <th><abbr title="">Progresión</abbr></th>
                          </tr>
                        </thead>
                        <tbody >
                            {% for e in elo%}
                            <tr>
                                <th>{{ e.name }}</th>
                                <th>{{ e.games }}</th>
                                <th>{{ e.rating }}</th>
                                <th>{{ e.rd }}</th>
                                <th>{{ e.prog }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table></div></div>
                    
                </div>
                <br />
                <div class="card is-hidden1">
                  <div class="card-header"><p class="card-header-title">Header</p></div>
                  <div class="card-content"><div class="content">Content</div></div>
                </div>
                <br />
                {% block games %}
                {% endblock %}

                {% block estadisticas %}
                {% endblock %}
                
                {% block insight %}
                {% endblock %}
                
                {% block allgames %}
                {% endblock %}
                </div>
            </div>
        </section>
    </div>
    
  </section>
</body>
<!-- partial -->
<style>
thead {
  background-color: #3273dc;
  color: white;
}
th,abbr {
  background-color: #363636;
  color: white;
}
.content table th { 
  color: white;
}

</style>
</html>

